# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# ignore maven build folder
target/

#ignore intellij-files
.idea/

# pom-derived eclipse jdt files
.project
.classpath
org.eclipse.*.prefs